body{
    margin: 0;
}

header{
    background: grey;
    padding:10px;
    position: sticky;
    top: 0;
}

header>h1{
    margin: 0;
    text-align: center;
}

thead tr th {
    position: sticky;
    top: 68px;
  }
thead th{
background: black !important;
color: white;
}

tbody{
    /* display: block; */
    height: 80vh;
    overflow: auto;
    
}



.headers{
    font-size: 1.2rem;
    font-weight: 700;
    
}

